# =====================================================================
# Configuración de Variables de Entorno - Práctica 2 Sistemas Distribuidos
# =====================================================================

# Microservicio BCB (Banco Central de Bolivia - Tipo de Cambio)
# Intervalo de fluctuación automática en segundos (3 minutos por defecto = 180s)
BCB_UPDATE_INTERVAL=180

# URL del servicio BCB consumida por ASFI
BCB_URL=http://127.0.0.1:8001/api/bcb/tipo-cambio

# Configuración de ASFI
ASFI_AUDIT_FILE=data/audit.jsonl
ACTIVE_BANK_IDS=1,2,3,4,5,6,7,8,9,10,11,12,13,14

# =====================================================================
# Motores NoSQL: MongoDB y Redis (Tarea 2 - Bancos 8 al 14)
# =====================================================================
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_URL=mongodb://127.0.0.1:27017

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_URL=redis://127.0.0.1:6379/0

# Conexiones por Banco NoSQL
BANK_08_STORAGE=mongo
BANK_08_DATABASE_URL=mongodb://127.0.0.1:27017/bank_prodem
BANK_08_PORT=8108

BANK_09_STORAGE=mongo
BANK_09_DATABASE_URL=mongodb://127.0.0.1:27017/bank_solidario
BANK_09_PORT=8109

BANK_10_STORAGE=redis
BANK_10_DATABASE_URL=redis://127.0.0.1:6379/0#bank10
BANK_10_PORT=8110

BANK_11_STORAGE=mongo
BANK_11_DATABASE_URL=mongodb://127.0.0.1:27017/bank_fie
BANK_11_PORT=8111

BANK_12_STORAGE=mongo
BANK_12_DATABASE_URL=mongodb://127.0.0.1:27017/bank_pyme
BANK_12_PORT=8112

# =====================================================================
# Base de Datos de Grafos: Neo4j (Tarea 3 - Banco BDP Exclusivo)
# =====================================================================
NEO4J_HOST=127.0.0.1
NEO4J_BOLT_PORT=7687
NEO4J_HTTP_PORT=7474
NEO4J_USER=neo4j
NEO4J_PASSWORD=bdp_password
NEO4J_AUTH=neo4j/bdp_password
NEO4J_URL=neo4j://neo4j:bdp_password@127.0.0.1:7687

BANK_13_STORAGE=neo4j
BANK_13_DATABASE_URL=neo4j://neo4j:bdp_password@127.0.0.1:7687
BANK_13_PORT=8113

BANK_14_STORAGE=mongo
BANK_14_DATABASE_URL=mongodb://127.0.0.1:27017/bank_argentina
BANK_14_PORT=8114

